.react-chatbot-kit-chat-container {

    width: 500px !important;
    height: auto !important;
    max-height:100%;
    overflow:auto;  
    }
    
    .react-chatbot-kit-chat-bot-message{
        width: 230px !important;
    }
    
    